.app-container{
  display: flex;
  flex-direction: row;
}
.left-map{
  position: relative;
  width: 65%;
  border: 3vh solid gray !important;
}
.right-map{
  position: relative;
  width: 35%;
  border: 3vh  solid gray !important;}